ofpp
numpy
pandas
h5py
vtk
matplotlib
scipy
python-box
pyyaml
setuptools
xlrd
openpyxl
tqdm
seaborn
open3d
natsort
pytecplot
sklearn
meshio
plotly
shapely
tabulate
mkdocs
mkdocs-material
mkdocstrings
pythreejs
pyvista
trimesh
translate
altair
pyembree
dill
streamlit
mpmath
simpy